<div style="clear:both;" xmlns="http://www.w3.org/1999/html"></div>

<div class="document_frame">

  <!--------------------------------------- list new uploaded pages -->


  <div class="document_page_index" id="sortable1">

    <% unless @pages.nil? then %>
        <% @pages.each do |page| %>
            <%= render :partial => 'page_uploaded', :locals => {:page => page} %>
        <% end %>
        <div style="clear:both;"></div>
    <% end %>

  </div>


  <!--------------------------------------- create a new document from uploaded pages -->
  <div class="document_sort_frame">
    <h1>Drop pages here to sort for upload</h1>

    <div style="margin-left: 10px; margin-right: 10px;">

      <%= form_for(@document, :url => {:controller => 'upload_sorting', :action => 'create'}) do |f| %>

          <div class="document_sort" id="sortable2">
            <%= render :partial => 'pages_sorted', :locals => {:pages_sorted => @pages_sorted} %>
          </div>

          </br>
          </br>

          <div class="input_area">
            <p>
              <%= f.label "Comment:", :class => 'standard_label' %>  <%= f.text_field :comment, size: 40 %>
            </p>

            <%= render :partial => '/keywords', :locals => {:current_keywords => @document.keyword_ids} %>

            </br></br>

            <div style="background-color:#e3e3e3;">
            <span style="margin-left:10px">
                Delete after years: <%= f.select(:delete_at, options_for_select([['1', Date.today+1.year], ['2', Date.today+2.year], ['5', Date.today+5.year]]),{:include_blank => ''},:id => 'lb_no_delete') %>
              </span>
              <span style="margin-left:20px">
                Change Folder: <%= select_tag(:folder_id, options_from_collection_for_select(Folder.all, 'id', 'name'), {:include_blank => true}) %>
              </span>

              <span style="margin-left:20px">
                 Never delete this file: <%= f.check_box(:no_delete,:id=>'cb_no_delete') %>
              </span>
            </div>
            </br></br>

            <%= f.submit "Sent to Upload", :id => "upload_btn", :name => "sfasfd" %>
          </div>
      <% end %>
    </div>


  </div>


</div>

<%= subscribe_to "/converted_page" %>