<% unless page.status==:uploaded %>
    <a name='doc<%= page.document.id %>'></a>
<% end %>

<%= image_tag(page.short_path(:s_jpg), :id => page.id, :bigjpg => page.short_path(:jpg), :class => 'clickzoom') %>
<div class="clear"></div>

<div class="preview_footer">
  <%= "#{page.id} - #{page.created_at.strftime("%d.%m.%y")} - #{page.source}" %>
  <div class="clear"></div>

  <%= (link_to "Delete", page, :remote => true, :confirm => 'Are you sure?', :method => :delete) unless controller.action_name=='found'%>

  <div style="float:right;">

    <% unless page.status==:uploaded %>
        <% info= "Page #{page.position+1}/#{page.document.pages.length}" %>
        <%= info if controller.action_name=='edit' %>
        <%= link_to info, edit_document_path(page.document.id) if (controller.action_name=='found') %>
        |
    <% end %>


    <%= link_to "RTF", rtf_path(page.id) %> | <%= link_to("PDF", pdf_path(page.id)) %>
  </div>

</div>



