<% title "Adjust page order with drag and drop" %>

<%= form_for(@document, :html => {:class => "input_area"}) do |f| %>

    <p>
      Comment:  <%= f.text_field :comment %>
      <span style="margin-left:10px">Change Folder for all pages:    <%= select_tag(:folder_id,  options_from_collection_for_select(Folder.all,'id','name'), {:include_blank => true}) %> </span>
      <span style="margin-left:10px">
        <%= if @document.delete_at.nil? then
              "Document will never expire"
            else
              "Document will expire in #{(@document.delete_at.year * 12 + @document.delete_at.month) - (Date.today.year * 12 + Date.today.month)} months"
            end%>
        | Expires :

           <%= f.date_select(:delete_at, {start_year: Date.today.year, order: [:year], include_blank: true},{:id => 'lb_no_delete'}) %>



      </span>
            <span style="margin-left:10px">
      Never delete this file: <%= f.check_box(:no_delete,:id=>'cb_no_delete') %>
</span>
    </p>
<p>

  <%= "Document(#{@document.id}) was created in #{@document.created_at.strftime('%B %Y')} and is stored in folder '#{@document.pages.first.folder.name}' | "%>
  <%= if @document.pages.first.cover.nil? then "NO COVER CREATED"
      elsif @document.page.source==Page::PAGE_SOURCE_MIGRATED  then "MIGRATED and to be found in FID: #{@document.pages.first.fid}"
      else "with cover counter #{@document.pages.first.cover.counter}" end %>
  </p>


    <%= render :partial => '/keywords', :locals => {:current_keywords => @document.keyword_ids} %>


    <div style="clear:both;"></div>
    </br>


    <%= (link_to "<<< Back", session[:search_results]+"#page_#{@document.pages.first.id}") %>

    <%= f.submit "Update" %>
<% end %>

<div style="padding-top: 10px">
  <%= render :partial => 'pages_edit', :locals => {:document => @document} %>
</div>




