<% title "Adjust page order with drag and drop" %>

<%= form_for(@document, :html => {:class => "input_area"}) do |f| %>

    <p>
      <%= f.label "Comment:", :class => 'standard_label' %>  <%= f.text_field :comment %>
      <span style="margin-left:10px"> Change Folder for all pages:    <%= select_tag(:folder_id,  options_from_collection_for_select(Folder.all,'id','name'), {:include_blank => true}) %> </span>
    </p>


    <%= render :partial => '/keywords', :locals => {:current_keywords => @document.keyword_ids} %>


    <div style="clear:both;"></div>
    </br>


    <%= (link_to "<<< Back", session[:search_results]+"#page_#{@document.pages.first.id}") %>

    <%= f.submit "Update" %>
<% end %>

<div style="padding-top: 10px">
  <%= render :partial => 'pages_edit', :locals => {:document => @document} %>
</div>




