<h1 xmlns="http://www.w3.org/1999/html">Status Information</h1>



<div class="status_frame">
  <h2>Documents without backup: <%= Page.uploading_status(:no_backup) %> <%= button_to "Trigger backup now", trigger_backup_path,:method => :get if Page.uploading_status(:no_backup)>0 %></h2>
  Documents not converted will not be uploaded to backup
</div>


<div class="status_frame">
  <h2>Documents not converted: <%= Page.uploading_status(:not_converted) %></h2>
  <% if DRBConverter.instance.remote_drb_available then %>
      <h2>Connected to remote worker!</h2>
      <%= button_to "Trigger conversion now ", status_start_remote_worker_path, :method => :get %>
  <% else %>
      <h2>
      Not connected !!! <%= button_to "Try to connect", status_try_to_connect_path, :method => :get %>
      </h2>
  <% end %>
</div>


<h1>Logfile</h1>



<div class="status_frame">

  </br>

  <%= button_to "Clear Logfile and Errors", status_clear_path,:method => :get %>

  </br>

  <table>
  <% Log.order('created_at desc').all.each do |log| %>
      <tr>
        <td><%= log.created_at %></td>
        <td><%= log.source %></td>
        <td><%= log.message %></td>
      </tr>
  <% end %>
</table>
</div>
