<!-- Standard Template to show pages - with yield -->
<!-- http://railsonedge.blogspot.de/2008/04/dry-up-your-views-with-layouts-for-your.html-->

<% if page.status == Page::UPLOADED_PROCESSING then %>
    <%= image_tag('upload.gif', :id => page.id, :bigjpg => page.short_path(:jpg), :class => 'clickzoom', :preview_path=>page.short_path(:s_jpg)) %>
<% elsif not page.preview? %>
    <%= image_tag('no_preview.jpg', :id => page.id, :bigjpg => page.short_path(:jpg), :class => 'clickzoom', :preview_path=>page.short_path(:s_jpg)) %>
<% else %>
    <%= image_tag(page.short_path(:s_jpg), :id => page.id, :bigjpg => page.short_path(:jpg), :class => 'clickzoom') %>
<%end%>



<div class="clear"></div>

<div class="preview_footer">

  <% if page.has_document? %>
      <%= "#{page.position+1}/#{page.document_pages_count}" %> |
  <% end %>

  <% unless page.folder.nil? %>
      <%= "#{page.folder.short_name}" %>
  <% end %>


  <% if page.source==Page::PAGE_SOURCE_MIGRATED %>
      <%= "| Migration FID:#{page.fid}" %>
  <% elsif not page.cover.nil?%>
      <%= "| Cover:#{page.cover.counter} * #{page.fid}" %>
  <% elsif page.folder.cover_ind%>
       *No cover*
      <%end%>
  <%= "|#{page.created_at.strftime("%d.%m.%y")}|     (#{page.id})" %>
  <%= " | File: #{page.original_filename[0..20]}..." if page.source==Page::PAGE_SOURCE_UPLOADED%>


  <div style="padding-right: 5px;">
    <%= link_to "RTF", rtf_path(page.id) %> |
    <%= link_to("PDF", pdf_path(page.id))+' |' unless page.document.nil? %>
    <%= link_to(page.short_mime_type, original_path(page.id)) +' |' if page.source==Page::PAGE_SOURCE_UPLOADED %>
    <%= yield %>  <!-- !!!!HERE IS THE YIELD -->
  </div>
</div>


