<!DOCTYPE html>
<html>
<head>
  <title>CDServer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <div id="menu">
    <ul>
      <li><%= link_to "Maintain Folders", folders_path %></li>
      <li><%= link_to "Uploaded Documents", uploads_path %></li>
    </ul>
  </div>
  <%= yield %>
</div>
</body>
</html>
